# Pytest
__pycache__
.pytest_cache
.coverage
py_coverage

# Go coverage & profiling
*.out

# Java
*.class

# Maven
/target/classes
/target/test-classes
/target/generated-sources
/target/generated-test-sources
/target/maven-status
/target/surefire-reports

# Rust
*_exe
*_exe.*

# Cargo
/target/debug
/target/release
/target/.rustc_info.json
*.profraw
*.profdata

# Hardhat
# https://github.com/NomicFoundation/hardhat/blob/main/packages/hardhat-core/recommended-gitignore.txt
node_modules
.env
# Hardhat files
/cache
/artifacts
# TypeChain files
/typechain
/typechain-types
# solidity-coverage files
/coverage
/coverage.json
