# Pytest
__pycache__
.pytest_cache

# Java
*.class

# Maven
/target

# Rust
*_exe
*_exe.*

# Cargo
/target

# Hardhat
# https://github.com/NomicFoundation/hardhat/blob/main/packages/hardhat-core/recommended-gitignore.txt
node_modules
.env
# Hardhat files
/cache
/artifacts
# TypeChain files
/typechain
/typechain-types
# solidity-coverage files
/coverage
/coverage.json
